{% extends "base.html" %}
{% load static %}
{% block page_header %}
<!--Main header block -->
<div class="container header-container"></div>
{% endblock %}



{% block content %}
<div class="container-fluid">
       <h5 class="text-center"></h5>
       <section class="text-center">BodyFit Section
              <div class="container text-center">
                     <div class="row align-items-center">
                       <div class="col-6">
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam necessitatibus natus reiciendis ullam quibusdam repudiandae cum adipisci dolorem impedit praesentium vero illum, atque dolores deserunt consequatur. Officiis maiores fuga nisi.
                       </div>
                       <div class="col-6">
                         Image placeholder
                       </div>
                        </div>
                   </div>
       </section>
       <section class="text-center">MindFit Section</section>
       <section class="text-center">YogaFit Section</section>
</div>
{% endblock %}
